<div>
    <p class="chapterTitleClass">FINGER FOOD</p>
    <ng-include
        src="'src/app/partial/chaptersPartials/01_fingerFoodPartial.html'"
        ng-if="fingerFood">
    </ng-include>

    <p class="chapterTitleClass">PREGO</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/pregoPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">HAMBURGER</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/hamburgerPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">SOBREMESAS</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/sobremesasPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">SHISHA</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/shishaPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">GIN</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/ginPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">WHISKY</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/whiskyPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">VODKA</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/vodkaPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">RUM</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/rumPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">SANGRIA</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/sangriaPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">PONCHA</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/ponchaPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">CERVEJA</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/cervejaPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">VINHO</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/vinhoPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">ESPUMANTE</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/espumantePartial.html'"></ng-include> -->

    <p class="chapterTitleClass">CHAMPAGNE</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/champagnePartial.html'"></ng-include> -->

    <p class="chapterTitleClass">APERITIVOS</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/aperitivosPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">LICORES</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/licoresPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">COCKTAILS</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/cocktailsPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">COCKTAILS S/ ALCOOL</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/cocktailsSAlcoolPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">SHOT</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/shotPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">CAFETARIA</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/cafetariaPartial.html'"></ng-include> -->

    <p class="chapterTitleClass">BEBIDAS S/ ALCOOL</p>
    <!-- <ng-include src="'src/app/partial/chaptersPartials/bebidasSAlcoolPartial.html'"></ng-include> -->
</div>