<div style="margin-bottom: 100px;">
    <p class="chapterTitleClass">FINGER FOOD</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/fingerFoodPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">PREGO</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/pregoPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">HAMBURGER</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/hamburgerPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">SOBREMESAS</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/sobremesasPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">SHISHA</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/shishaPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">GIN</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/ginPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">WHISKY</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/whiskyPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">VODKA</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/vodkaPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">RUM</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/rumPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">SANGRIA</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/sangriaPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">PONCHA</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/ponchaPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">CERVEJA</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/cervejaPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">VINHO</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/vinhoPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">ESPUMANTE</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/espumantePartial.html'"></ng-include> -->
    <p class="chapterTitleClass">CHAMPAGNE</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/champagnePartial.html'"></ng-include> -->
    <p class="chapterTitleClass">APERITIVOS</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/aperitivosPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">LICORES</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/licoresPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">COCKTAILS</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/cocktailsPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">COCKTAILS S/ ALCOOL</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/cocktailsSAlcoolPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">SHOT</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/shotPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">CAFETARIA</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/cafetariaPartial.html'"></ng-include> -->
    <p class="chapterTitleClass">BEBIDAS S/ ALCOOL</p>
    <!-- <ng-include src="'src/app/partial/chaptersContent/bebidasSAlcoolPartial.html'"></ng-include> -->
</div>