<div>
    <p>FINGER FOOD</p>
    <ng-include src="'src/app/partial/chaptersContent/fingerFoodPartial.html'"></ng-include>
    <p>PREGO</p>
    <ng-include src="'src/app/partial/chaptersContent/pregoPartial.html'"></ng-include>
    <p>HAMBURGER</p>
    <ng-include src="'src/app/partial/chaptersContent/hamburgerPartial.html'"></ng-include>
    <p>SOBREMESAS</p>
    <ng-include src="'src/app/partial/chaptersContent/sobremesasPartial.html'"></ng-include>
    <p>SHISHA</p>
    <ng-include src="'src/app/partial/chaptersContent/shishaPartial.html'"></ng-include>
    <p>GIN</p>
    <ng-include src="'src/app/partial/chaptersContent/ginPartial.html'"></ng-include>
    <p>WHISKY</p>
    <ng-include src="'src/app/partial/chaptersContent/whiskyPartial.html'"></ng-include>
    <p>VODKA</p>
    <ng-include src="'src/app/partial/chaptersContent/vodkaPartial.html'"></ng-include>
    <p>RUM</p>
    <ng-include src="'src/app/partial/chaptersContent/rumPartial.html'"></ng-include>
    <p>SANGRIA</p>
    <ng-include src="'src/app/partial/chaptersContent/sangriaPartial.html'"></ng-include>
    <p>PONCHA</p>
    <ng-include src="'src/app/partial/chaptersContent/ponchaPartial.html'"></ng-include>
    <p>CERVEJA</p>
    <ng-include src="'src/app/partial/chaptersContent/cervejaPartial.html'"></ng-include>
    <p>VINHO</p>
    <ng-include src="'src/app/partial/chaptersContent/vinhoPartial.html'"></ng-include>
    <p>ESPUMANTE</p>
    <ng-include src="'src/app/partial/chaptersContent/espumantePartial.html'"></ng-include>
    <p>CHAMPAGNE</p>
    <ng-include src="'src/app/partial/chaptersContent/champagnePartial.html'"></ng-include>
    <p>APERITIVOS</p>
    <ng-include src="'src/app/partial/chaptersContent/aperitivosPartial.html'"></ng-include>
    <p>LICORES</p>
    <ng-include src="'src/app/partial/chaptersContent/licoresPartial.html'"></ng-include>
    <p>COCKTAILS</p>
    <ng-include src="'src/app/partial/chaptersContent/cocktailsPartial.html'"></ng-include>
    <p>COCKTAILS S/ ALCOOL</p>
    <ng-include src="'src/app/partial/chaptersContent/cocktailsSAlcoolPartial.html'"></ng-include>
    <p>SHOT</p>
    <ng-include src="'src/app/partial/chaptersContent/shotPartial.html'"></ng-include>
    <p>CAFETARIA</p>
    <ng-include src="'src/app/partial/chaptersContent/cafetariaPartial.html'"></ng-include>
    <p>BEBIDAS S/ ALCOOL</p>
    <ng-include src="'src/app/partial/chaptersContent/bebidasSAlcoolPartial.html'"></ng-include>
</div>