@import url("variables.css");

.chapterTitleClass {
    max-width: var(--base-max-width);
    padding: 10px 0 10px;
    background-color: var(--chapter-title-background-color);
    border-radius: 40px;
    box-shadow: 0 2px 3px var(--chapter-title-shadow-color);
    font-size: var(--chapter-title-font-size);
    font-family: var(--chapter-title-font-family);
    font-weight: bold;
    color: var(--base-font-color);
}

.chapterTitleClass:hover {
    background-color: var(--chapter-title-background-color-hover);
    box-shadow: 0 2px 3px var(--chapter-title-shadow-color-hover);
    text-decoration: underline;
    cursor: pointer;
}

.chapterContentClass {
    max-width: var(--base-max-width);
    padding: 0;
    font-size: var(--chapter-content-font-size);
    font-family: var(--chapter-content-font-family);
    font-weight: normal;
    color: var(--base-font-color);
}

/* .chapterContentPartialClass {
    
} */