@import url("variables.css");

.chapterTitleClass {
    max-width: 400px;
    padding: 10px 0 10px;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    color: var(--font-color);
    background-color: var(--chapter-background-color);
    border-radius: 3px;
}