.mainTheme {
    --body-background-color: #fbf7c4;
    --chapter-title-background-color: #d1b383;
    --font-color: #121212;

    --chapter-title-font-family: serif;
    --chapter-content-font-family: monospace;

    --chapter-title-font-size: 30px;
    --chapter-content-font-size: 16px;
}